[Unit]
 Description=/etc/rc.local Compatibility

[Service]
 WorkingDirectory=/root/hl
 Type=simple
 Restart=always
 ExecStart=/usr/bin/screen -DmS hl-server /usr/bin/wine hlds.exe -game cstrike -ip 68.183.81.223 -console -port 27016 +maxplayers 6 +map cs_mansion
 TimeoutSec=0
 StandardOutput=tty
 RemainAfterExit=yes
 SysVStartPriority=99

[Install]
 WantedBy=multi-user.target